<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Invoice</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>


</head>
<body>
<div class="container">

    <h3 style="margin-top:20px;margin-bottom:20px;text-align: center">Generate New Invoice</h3>
    <hr width="100%">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form role="form" th:action="@{/home/pdfredirect}" method="post">

                <h5 style="margin-top:20px;text-align: left">Agency & Client Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputagencyname">Agency Name</label>
                        <input type="text" class="form-control" id="inputagencyname" name="name"
                               placeholder="Agency Name">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputGSTNumber">GST Number</label>
                        <input type="text" class="form-control" id="inputGSTNumber" placeholder="GST Number">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputPassengerName">Passenger Name</label>
                        <input type="text" class="form-control" id="inputPassengerName" placeholder="Passenger Name">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputContactPerson">Contact Person</label>
                        <input type="text" class="form-control" id="inputContactPerson" placeholder="Contact Person">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputCountryofPassport">Country of Passport</label>
                        <input type="text" class="form-control" id="inputCountryofPassport"
                               placeholder="Country of Passport">
                    </div>
                    <div class="col-sm-6">
                        <label for="selectDestination">Destination</label>
                        <div>
                            <select class="form-control" name="destination" id="selectDestination">
                                <option>Nepal</option>
                                <option>India</option>
                                <option>Bhutan</option>
                                <option>Tibet</option>
                                <option>Mount Kailash</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h5 style="margin-top:40px;text-align: left">Booking Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputCheckIn">Check In</label>
                        <input class="form-control" id="inputCheckIn" name="checkin"
                               placeholder="Check In">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputCheckOut">Check Out</label>
                        <input class="form-control" id="inputCheckOut", name="checkout" placeholder="Check Out" >
                    </div>
                    <div class="col-sm-3">
                        <label for="inputNoofDays">No of Days</label>
                        <input type="number" class="form-control" id="inputNoofDays" placeholder="No of Days" disabled>
                    </div>
                    <div class="col-sm-3">
                        <label for="selectmealplan">Meal Plan</label>
                        <div>
                            <select class="form-control" name="mealplan" id="selectmealplan">
                                <option>BB</option>
                                <option>MAPI</option>
                                <option>APAI</option>
                                <option>CPAI</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputNationality">Nationality</label>
                        <input type="text" class="form-control" id="inputNationality" name="mealplan"
                               placeholder="Nationality">
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNoofAdult">No of Adult</label>
                        <input type="number" class="form-control" id="inputNoofAdult" placeholder="No of Adult" oninput="calculatetotal()">
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNoofChild">No of Child</label>
                        <input type="number" class="form-control" id="inputNoofChild" placeholder="No of Child" oninput="calculatetotal()">
                    </div>


                </div>


                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputNoofRoomsDBL">No of Rooms (DBL)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsDBL" placeholder="No of Rooms (DBL)">
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNoofRoomsTRP">No of Rooms (TRP)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsTRP" placeholder="No of Rooms (TRP)">
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNoofRoomsQUAD">No of Rooms (QUAD)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsQUAD" placeholder="No of Rooms (QUAD)">
                    </div>

                </div>

                <h5 style="margin-top:40px;text-align: left">Billing Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="selectBillingCountry">Billing Country</label>
                        <div>
                            <select class="form-control" name="billingcountry" id="selectBillingCountry">
                                <option>India</option>
                                <option>Nepal</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="selectBillingCurrency">Billing Currency</label>
                        <div>
                            <select class="form-control" name="billingCurrency" id="selectBillingCurrency">
                                <option>INR</option>
                                <option>US$</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h5 style="margin-top:40px;text-align: left">Rate & Amount Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputRateAdult">Rate (Per Adult)</label>
                        <input type="text" class="form-control" id="inputRateAdult" name="RateAdult" placeholder="Rate per Adult" oninput="calculatetotal()">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputRateChild">Rate (Per Child)</label>
                        <input type="text" class="form-control" id="inputRateChild" name="RateChild" placeholder="Rate per Child" oninput="calculatetotal()">
                    </div>
                    <div class="col-sm-3">
                        <label for="inputAmount">Amount</label>
                        <input type="text" class="form-control" id="inputAmount" name="Amount"
                               placeholder="Amount" disabled>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputGst">GST (5%)</label>
                        <input type="text" class="form-control" id="inputGst" placeholder="GST" disabled>
                    </div>

                </div>



                <div class="form-group row">

                    <div class="col-sm-4">
                        <label for="inputSubTotal">Sub Total</label>
                        <input type="text" class="form-control" id="inputSubTotal" name="SubTotal"
                               placeholder="Sub Total" disabled>
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNepalRemitCharges">Nepal Remit Charges</label>
                        <input type="text" class="form-control" id="inputNepalRemitCharges" name="NepalRemitCharges"
                               placeholder="Nepal Remit Charges" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputGrandTotal">Grand Total</label>
                        <input type="text" class="form-control" id="inputGrandTotal" name="GrandTotal"
                               placeholder="Grand Total" disabled>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary px-4 float-center"
                        style="margin-bottom:40px;text-align: center">Save
                </button>
            </form>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script type="text/javascript" src="/js/calculatetotal.js"></script>
<script type="text/javascript" src="/js/calculatedays.js"></script>
</body>
</html>