<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Invoice</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>


</head>
<body style="background-color:#10B2B5">
<div class="container" style="background-color:#FFFFFF; padding-top:10px">

    <h3 style="margin-bottom:20px;text-align: center">Generate New Invoice</h3>
    <hr width="100%">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form role="form" th:action="@{/home/pdfredirect}" method="post">

                <h5 style="margin-top:20px;text-align: left">Agency & Client Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputagencyname">Agency Name</label>
                        <input type="text" class="form-control" id="inputagencyname" name="agencyName"
                               placeholder="Agency Name">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputGSTNumber">GST Number</label>
                        <input type="text" class="form-control" id="inputGSTNumber" placeholder="GST Number" ,
                               name="gstNumber">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputPassengerName">Passenger Name</label>
                        <input type="text" class="form-control" id="inputPassengerName" placeholder="Passenger Name"
                               name="passengerName" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputContactPerson">Contact Person</label>
                        <input type="text" class="form-control" id="inputContactPerson" name="contactPerson"
                               placeholder="Contact Person">
                    </div>
                    <div class="col-sm-4">
                        <label for="inputContactNumber">Contact Number</label>
                        <input type="number" class="form-control" id="inputContactNumber" name="contactNumber"
                               placeholder="Contact Number">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="inputCountryofPassport">Country of Passport</label>

                        <div>
                            <select class="form-control" name="countryOfPassport" id="inputCountryofPassport">
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Canada">Canada</option>
                                <option value="China">China</option>
                                <option value="India">India</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <label for="selectDestination">Destination</label>
                        <div>
                            <select class="form-control" name="destination" id="selectDestination">
                                <option>Nepal</option>
                                <option>India</option>
                                <option>Bhutan</option>
                                <option>Tibet</option>
                                <option>Mount Kailash</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputFlightDetails">Flight Details</label>
                        <input type="text" class="form-control" id="inputFlightDetails" name="flightDetails"
                               placeholder="Flight Details">
                    </div>
                </div>

                <h5 style="margin-top:40px;text-align: left">Booking Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputCheckIn">Check In</label>
                        <input class="form-control" id="inputCheckIn" name="checkInDate"
                               placeholder="Check In" required>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputCheckOut">Check Out</label>
                        <input class="form-control" id="inputCheckOut" , name="checkOutDate" placeholder="Check Out"
                               required>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputNoofDays">No of Days</label>
                        <input type="number" class="form-control" id="inputNoofDays" placeholder="No of Days"
                               name="noOfDays">
                    </div>
                    <div class="col-sm-3">
                        <label for="selectmealplan">Meal Plan</label>
                        <div>
                            <select class="form-control" name="mealPlan" id="selectmealplan">
                                <option>BB</option>
                                <option>MAPI</option>
                                <option>APAI</option>
                                <option>CPAI</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputNationality">Nationality</label>
                        <div>
                            <select class="form-control" name="nationality" id="inputNationality">
                                <option value="Indian">Indian</option>
                                <option value="Bangladeshi">Bangladeshi</option>
                                <option value="Bhutanese">Bhutanese</option>
                                <option value="Malaysian">Malaysian</option>
                                <option value="Sri Lankan">Sri Lankan</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="inputNoofAdult">No of Adult</label>
                        <input type="number" class="form-control" id="inputNoofAdult" name="noOfAdult"
                               placeholder="No of Adult" oninput="calculatetotal()" required>
                    </div>

                    <div class="col-sm-3">
                        <label for="inputNoofChild">No of Child</label>
                        <input type="number" class="form-control" id="inputNoofChild" name="noOfChild"
                               placeholder="No of Child" oninput="calculatetotal()" value=0>
                    </div>

                    <div class="col-sm-3">
                        <label for="inputNoofInfant">No of Infant</label>
                        <input type="number" class="form-control" id="inputNoofInfant" name="noOfInfant"
                               placeholder="No of Infant" oninput="calculatetotal()" value=0>
                    </div>


                </div>


                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputNoofRoomsSNG">No of Rooms (SNG)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsSNG" name="noOfRoomsSng"
                               placeholder="No of Rooms (SNG)" value=0>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputNoofRoomsDBL">No of Rooms (DBL)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsDBL" name="noOfRoomsDbl"
                               placeholder="No of Rooms (DBL)" required >
                    </div>

                    <div class="col-sm-3">
                        <label for="inputNoofRoomsTRP">No of Rooms (TRP)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsTRP" name="noOfRoomsTrp"
                               placeholder="No of Rooms (TRP)" value=0>
                    </div>

                    <div class="col-sm-3">
                        <label for="inputNoofRoomsQUAD">No of Rooms (QUAD)</label>
                        <input type="number" class="form-control" id="inputNoofRoomsQUAD" name="noofRoomsQuad"
                               placeholder="No of Rooms (QUAD)" value=0>
                    </div>

                </div>

                <h5 style="margin-top:40px;text-align: left">Billing Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="selectBillingCountry">Billing Country</label>
                        <div>
                            <select class="form-control" name="billingCountry" id="selectBillingCountry">
                                <option>India</option>
                                <option>Nepal</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="selectBillingCurrency">Billing Currency</label>
                        <div>
                            <select class="form-control" name="billingCurrency" id="selectBillingCurrency">
                                <option>INR</option>
                                <option>US$</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <label for="selectHotelCategory">Hotel Category</label>
                        <div>
                            <select class="form-control" name="hotelCategory" id="selectHotelCategory">
                                <option>5* DLX</option>
                                <option>4* DLX</option>
                                <option>3* DLX</option>
                                <option>3* STD</option>
                                <option>2* STD</option>
                                <option>Budget</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h5 style="margin-top:40px;text-align: left">Package Details:</h5>
                <hr width="100%">

                <div class="form-group row">

                    <div class="col-sm-6">
                        <label for="inputTourTitle">Tour Title</label>
                        <input type="text" class="form-control" id="inputTourTitle" name="tourTitle"
                               placeholder="Tour Title">
                    </div>

                    <div class="col-sm-6">
                        <label for="inclusions">Tour Inclusions</label>
                        <textarea rows="4" cols="50" id="inclusions" name="inclusions"></textarea>
                    </div>
                </div>


                <h5 style="margin-top:40px;text-align: left">Rate & Amount Details:</h5>
                <hr width="100%">

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="inputRateAdult">Rate (Per Adult)</label>
                        <input type="number" class="form-control" id="inputRateAdult" name="rateAdult"
                               placeholder="Rate per Adult" required>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputRateChild">Rate (Per Child)</label>
                       <!-- <input type="number" class="form-control" id="inputRateChild" name="rateChild"
                               placeholder="Rate per Child" oninput="calculatetotal()">-->
                        <input type="number" class="form-control" id="inputRateChild" name="rateChild"
                               placeholder="Rate per Child" value=0 >
                    </div>
                    <div class="col-sm-3">
                        <label for="inputAmount">Amount</label>
                        <input type="number" class="form-control" id="inputAmount" name="amount" placeholder="Amount" required>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputGst">GST (5%)</label>
                        <input type="number" class="form-control" id="inputGst" placeholder="GST" name="gst" required>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-sm-4">
                        <label for="inputSubTotal">Sub Total</label>
                        <input type="number" class="form-control" id="inputSubTotal" name="subTotal"
                               placeholder="Sub Total" required>
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNepalRemitCharges">Intl Remit Charge</label>
                        <input type="number" class="form-control" id="inputNepalRemitCharges" name="nepalRemitCharges"
                               placeholder="Nepal Remit Charges" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputGrandTotal">Grand Total</label>
                        <input type="number" class="form-control" id="inputGrandTotal" name="grandTotal"
                               placeholder="Grand Total" required>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-sm-4">
                        <label for="inputSubTotal">Less Discounts</label>
                        <input type="number" class="form-control" id="inputLessDiscounts" name="lessDiscounts"
                               placeholder="Less Discounts" required>
                    </div>

                    <div class="col-sm-4">
                        <label for="inputNepalRemitCharges">Initial Booking Amount Received</label>
                        <input type="number" class="form-control" id="inputInitialBookingAmt"
                               name="initialBookingAmount"
                               placeholder="Initial Booking Amount Received" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputGrandTotal">Balance Payment</label>
                        <input type="number" class="form-control" id="inputBalancePayment" name="balancePayment"
                               placeholder="Balance Payment" required>
                    </div>

                </div>


                <button type="submit" class="btn btn-primary px-4 float-center"
                        style="margin-bottom:40px;text-align: center">Save
                </button>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet"
      type="text/css"/>
<script type="text/javascript" src="/js/calculatetotal.js"></script>
<script type="text/javascript" src="/js/calculatedays.js"></script>
</body>
</html>