<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Options</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">

    <h3 style="margin-top:20px;margin-bottom:20px;text-align: center">Select your desired option:</h3>

    <div class="row">
        <div class="col-md-12" align="center">
            <div id="postResultMsg" style="margin-top:20px"></div>

            <form class="form-inline" method="get" th:action="@{/home/predirect}">

            <button type="submit" class="btn btn-success btn-lg">New Invoice</button>
            </form><br><br>

            <form class="form-inline" method="get" th:action="@{/home/bvredirect}">

                <button type="submit" class="btn btn-info btn-lg">New Boking Voucher</button>
            </form>

            <!--<button type="submit" class="btn btn-primary btn-lg">Update Invoice</button><br><br>

            <button type="submit" class="btn btn-info btn-lg">New Booking Receipt</button><br><br>

            <button type="submit" class="btn btn-warning btn-lg">Booking History</button><br><br>

            <button type="submit" class="btn btn-danger btn-lg">GST Records</button>-->

            </div>
        </div>
    </div>
</div>
</body>
</html>